/* Elementos */
* { margin:0; padding:0; outline:none; font: 12px Arial, Helvetica, sans-serif; color:#666666; text-align:justify; text-decoration:none; outline:none}
img { border: 0px;}
a {text-decoration:none;}
a:hover {text-decoration:underline;}
b,strong {font-weight:bold;}
body{ background-color: #f5f5f5;}

/* Classe de alinhamento*/
.cAlign { width:940px; text-align:left; clear:both; margin: 0 auto;}


/* Header */
div#topo { width: 100%; height: 199px; background-image: url('../images/bg_header.jpg'); background-repeat: repeat-x; overflow:hidden;}
    div.logo { width:140px; height:199px; background-color:#ffffff; margin:0 0 0 60px; overflow:hidden;}
    div.logo_link{ width:86px; height:115px; margin:36px 0 0 30px;}

/* Corpo */
div#corpo { background-image: url('../images/bg_corpo.png'); background-repeat: repeat-y;}

    div.left{ width: 20px; background-repeat:repeat-y; float:left;}
    div.right{ width: 10px; background-repeat:repeat-y; float:right;}  
    div.menu{ width: 140px; height: 360px; background-repeat: repeat-y; float: left; margin: 30px 0 0 60px;}
    
        
    /* Conteúdo do content */
    div.conteudo{ width: 640px; background-repeat:repeat-y; float:left; margin:30px 0 0 40px;}
        div.titulo_green{ font-family: Arial, Helvetica, sans-serif; font-size: 20px; color: #609b10; font-weight: bold; padding-bottom: 10px;}
        div.sub_titulo-green{ font-family: Arial, Helvetica, sans-serif; font-size: 13px; color: #609b10; font-weight: bold; padding-bottom: 3px;}
        div.titulo_projeto { font-family: Arial, Helvetica, sans-serif; font-size: 16px; font-weight: bold;}
        
        div.conteudo_left{ width:520px; float:left;}
            div.img_logo{ width:140px; height:140px; float:left;}
            div.texto_com_logo{ width:500px; height:150px; float:left;}
            div.texto_sem_logo{ width:520px; min-height:300px; float:left;}
        div.conteudo_right{ width:100px; float:right;}
            div.parceiros_right_txt{ height:30px; font-family: Arial, Helvetica, sans-serif; font-size: 11px; text-align:center;}
            div.parceiros_right{ width:100px; height:50px; text-align:center;}
    
/* Contato */
input, textarea
{
    padding: 5px 5px 5px 5px;
}

input:focus, textarea:focus
{
    background-color: #f0f0f0;
}

.msg
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #7fa045;
}
.google_maps
{
    background-color: #FFFFFF;
    border: thin solid #C0C0C0;
    width: 600px;
}
            
    /* Rodapé de parceiros */       
    div#parceiros{ width: 840px; background-repeat:repeat-y; clear:both; margin:0 0 0 60px; padding:40px 0 0 0; overflow:hidden;}
        div.parceiros_txt{ font-family: Arial, Helvetica, sans-serif; font-size: 11px;}
        div.logo_mantenedores{ margin-left: 5px; width: 300px; float: left;}
            div.logo_gerdau{ margin-left: 5px; width: 104px; height: 30px; float: left;}
            div.logo_promon{ margin-left: 15px; width: 117px; height: 30px; float: left;}
        div.logo_parceiro_tecnologico{ margin-left: 5px; width: 150px; float: left;}
            div.logo_ibm{ margin-left: 5px; width: 64px; height: 30px; float: left;}
        div.logo_apoio_institucional{ margin-left: 5px; width: 150px; float: left;}
            div.logo_todos{ margin-left: 5px; width: 50px; height: 50px; float: left;}
            div.logo_gife{ margin-top: 5px; margin-left: 15px; width: 71px; height: 45px; float: left;}

/* Footer */
div#footer{ background-color: #99a946; overflow:hidden;}

    div.imgFooter{ width: 940px; height: 40px; background-image: url('../images/bg_footer1.png'); background-repeat: no-repeat; }
    div.menuFooter{ width: 840px; min-height: 150px; margin:25px 0 0 60px;}
        div.footer_menu_titulo_txt{ font-weight: bold; font-size: 13px; color: #ffffff}
        div.footer_menu_txt{ font-size: 12px; color: #ffffff}
		div.footer_menu_txt a{color: #ffffff} 
        div.footer_menu1{ margin-left: 5px; width: 180px; float: left;}
        div.footer_menu2{ margin-left: 5px; width: 180px; float: left; border-left-style: solid; border-left-width: thin; border-left-color: #FFFFFF; padding-left: 20px;}
        div.footer_menu3{ margin-left: 5px; width: 180px; float: left; border-left-style: solid; border-left-width: thin; border-left-color: #FFFFFF; padding-left: 20px;}
        div.footer_menu4{ margin-left: 5px; width: 180px; float: left; border-left-style: solid; border-left-width: thin; border-left-color: #FFFFFF; padding-left: 20px;}
        
/*Configuracao para mensagem de erro de formulario  */
.msg_erro{
	 color: red;
	 width: 150px;
	}

.msg_enviado{
    width: 200px;
    margin: 5px;
    padding: 5px;
    border: thin solid #54b432;
    border-radius: 5px;
    background-color: #609b10;
    color: white;
   /* display: none;*/
}